---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
-->

{% include base_path %}

<!-- New style rendering if publication categories are defined
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
 -->


<h3>Journal Articles</h3>

<ol reversed>
    <li>
        "Exploring the optimality of threshold-based crop irrigation feedback strategies"<br>
        Ruben Chenevat, Bruno Cheviron, Alain Rapaport, Sébastien Roux<br>
        <em>Submitted (June 2025)</em>
    </li>
    <li>
        "Optimal structures of crop irrigation strategies with state constraints"<br>
        Ruben Chenevat, Bruno Cheviron, Sébastien Roux, Alain Rapaport<br>
        <em>Submitted (March 2025)</em>
    </li>
    <li>
        "About the bang-bang principle for controlled affine dynamics with brownian noise"<br>
        Ruben Chenevat, Dan Goreac, Qinlong Li, Alain Rapaport<br>
        Accepted in <em>Journal of Convex Analysis</em> (Sep 2025)
    </li>
    <li>
        "Extension of the bang-bang principle for piecewise affine dynamics under state constraints"<br>
        Ruben Chenevat, Bruno Cheviron, Sébastien Roux, Alain Rapaport<br>
        <em>Submitted (Nov 2024)</em>
    </li>
</ol>

<h3>Conference Papers</h3>

<ol reversed>
    <li>
        <a href="https://ieeexplore.ieee.org/document/10886226" target="_blank">Common structures of optimal solutions for a crop irrigation problem under various constraints and criteria</a><br>
        Ruben Chenevat, Bruno Cheviron, Sébastien Roux, Alain Rapaport<br>
        <em>63rd IEEE Conference on Decision and Control (CDC), 2024</em>
    </li>
    <li>
        <a href="https://ieeexplore.ieee.org/document/10886617" target="_blank">About the Bang-Bang Principle for piecewise affine systems</a><br>
        Ruben Chenevat, Bruno Cheviron, Sébastien Roux, Alain Rapaport<br>
        <em>63rd IEEE Conference on Decision and Control (CDC), 2024</em>
    </li>
    <li>
        <a href="https://www.actahort.org/books/1373/1373_5.htm" target="_blank">The Optirrig model for the generation, analysis and optimization of irrigation scenarios: rationale and scopes</a><br>
        B. Cheviron, M. Lo, J. Catel, M. Delmas, Y. Elamri, K. Akakpo, I.-A. Ramos-Fuentes, J.-D. Dominguez-Bohorquez, M. Garcia de Cezar, Y. Razavi-Ebrahimi, A. Degenne, R. Chenevat, J.C. Mailhol<br>
        <em>XXXI International Horticultural Congress (IHC2022): International Symposium on Water: a Worldwide Challenge for Horticulture!, 2022</em>
    </li>
</ol>

<!--
<h3>Working papers</h3>

<ul>
    <li>
        "Exploring the optimality of threshold-based crop irrigation feedback strategies."<br>
        Ruben Chenevat, Bruno Cheviron, Alain Rapaport, Sébastien Roux<br>
        <em>(in progress)</em>
    </li>
</ul>
-->
