---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->

<h3>International and national conferences</h3>

<ul>
    <li>
      September 2025, <a href="https://www.lut.fi/en/eurogen-2025" target="_blank">16th Conference on Evolutionary and Deterministic Methods for Design, Optimization, and Control with Applications (EUROGEN 2025)</a> [Lahti - Finland 🇫🇮]<br>
      <em>"Optimizing crop irrigation under biological and operational constraints with meteorological uncertainty"</em>
    </li>
    <li>
      December 2024, <a href="https://cdc2024.ieeecss.org/" target="_blank">63rd IEEE Conference on Decision and Control (CDC 2024)</a> [Milan - Italy 🇮🇹]<br>
      <em>"Structures of optimal solutions for a crop irrigation problem under various constraints and criteria"</em>
    </li>
    <li>
      December 2024, <a href="https://cdc2024.ieeecss.org/" target="_blank">63rd IEEE Conference on Decision and Control (CDC 2024)</a> [Milan - Italy 🇮🇹]<br>
      <em>"About the bang-bang principle for piecewise aﬀine systems"</em>
    </li>
    <li>
      June 2024, <a href="https://www.unioviedo.es/fgs2024/" target="_blank">21st French-German-Spanish Conference on Optimization</a> [Gijon - Spain 🇪🇸]<br>
      <em>"About the Bang-Bang Principle in a non-smooth setting"</em>
    </li>
    <li>
      March 2024, <a href="https://indico.math.cnrs.fr/event/9418/" target="_blank">Journées SMAI-MODE</a> (Poster) [Lyon - France 🇫🇷]<br>
      <em>"Optimal structures for a model of crop irrigation with constraints"</em>
    </li>
</ul>

<h3>Workshops and seminars</h3>

<ul>
    <li>April 2025, Webinar "T-tAgs" #DigitAg [🇫🇷]</li>
    <li>March 2025, Webinar INRAE "Systèmes Agricoles et Eau" thematic network [🇫🇷]</li>
    <li>January 2025, Lab Seminar - SYSTEC [Porto - Portugal 🇵🇹]</li>
    <li>November 2024, PhD & Post-Doc Seminar - MISTEA [Montpellier - France 🇫🇷]</li>
    <li>October 2024, General meeting of INRAE "REUSE" thematic network [Avignon - France 🇫🇷]</li>
    <li>June 2024, Lab Seminar - MOMAT [Madrid - Spain 🇪🇸]</li>
    <li>June 2024, Workshop Optimal control and applications - FRUMAM [Marseille - France 🇫🇷]</li>
    <li>April 2024, Lab Seminar - MISTEA [Montpellier - France 🇫🇷]</li>
    <li>October 2023, Annual days of GdR MOA [Perpignan - France 🇫🇷]</li>
    <li>June 2023, Working group OC & PMP [Montpellier - France 🇫🇷]</li>
</ul>


