---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->

<h3>International and National Conferences</h3>

<ul>
    <li>
      September 2025, <a href="https://www.lut.fi/en/eurogen-2025" target="_blank">EUROGEN 2025</a> [Lahti &ndash; Finland 🇫🇮]<br>
      <em>"Optimizing crop irrigation under biological and operational constraints with meteorological uncertainty"</em>
    </li>
    <li>
      December 2024, <a href="https://cdc2024.ieeecss.org/" target="_blank">CDC 2024</a> [Milan &ndash; Italy 🇮🇹]<br>
      <em>"Structures of optimal solutions for a crop irrigation problem under various constraints and criteria"</em>
    </li>
    <li>
      December 2024, <a href="https://cdc2024.ieeecss.org/" target="_blank">CDC 2024</a> [Milan &ndash; Italy 🇮🇹]<br>
      <em>"About the bang-bang principle for piecewise affine systems"</em>
    </li>
    <li>
      June 2024, <a href="https://www.unioviedo.es/fgs2024/" target="_blank">FGS 2024</a> [Gijón &ndash; Spain 🇪🇸]<br>
      <em>"About the bang-bang principle in a non-smooth setting"</em>
    </li>
    <li>
      March 2024, <a href="https://indico.math.cnrs.fr/event/9418/" target="_blank">SMAI-MODE 2024</a> (Poster) [Lyon &ndash; France 🇫🇷]<br>
      <em>"Optimal structures for a model of crop irrigation with constraints"</em>
    </li>
</ul>

<h3>Workshops and Seminars</h3>

<ul>
    <li>April 2026, Seminar &ndash; Department of Mathematics, Université Laval [Québec &ndash; Canada 🇨🇦]</li>
    <li>April 2025, Webinar &ndash; "T-tAgs", #DigitAg [🇫🇷]</li>
    <li>March 2025, Webinar &ndash; Thematic network "Systèmes Agricoles et Eau", INRAE [🇫🇷]</li>
    <li>January 2025, Seminar &ndash; SYSTEC, Faculdade de Engenharia Universidade do Porto [Porto &ndash; Portugal 🇵🇹]</li>
    <li>November 2024, Seminar &ndash; MISTEA PhD & Post-Doc Day [Montpellier &ndash; France 🇫🇷]</li>
    <li>October 2024, Seminar &ndash; Thematic network "REUSE", INRAE [Avignon &ndash; France 🇫🇷]</li>
    <li>June 2024, Seminar &ndash; MOMAT, Universidad Complutense de Madrid [Madrid &ndash; Spain 🇪🇸]</li>
    <li>June 2024, Workshop &ndash; "Optimal Control and Applications", FRUMAM [Marseille &ndash; France 🇫🇷]</li>
    <li>April 2024, Seminar &ndash; MISTEA, INRAE [Montpellier &ndash; France 🇫🇷]</li>
    <li>October 2023, Seminar &ndash; Annual meeting of GdR MOA [Perpignan &ndash; France 🇫🇷]</li>
    <li>June 2023, Seminar &ndash; Working group "Optimal Control and PMP" [Montpellier &ndash; France 🇫🇷]</li>
</ul>

<h3>Thesis defense</h3>

<ul>
    <li>October 2025, PhD thesis defense &ndash; INRAE, Université de Montpellier [Montpellier &ndash; France 🇫🇷]</li>
</ul>


