---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

<ul>
    <li>2023 &ndash; 2024 (Université de Montpellier)
        <ul>
            <li>Tutorials &ndash; Logic and set theory (first-year undergraduate)</li>
            <li>Tutorials &ndash; Analysis I: Functions of one variable and sequences (first-year undergraduate)</li>
            <li>Tutorials &ndash; Calculus (first-year undergraduate)</li>
        </ul>
    </li>
    <li>2023 &ndash; 2024
        <ul>
            <li>Private tutoring in Mathematics (CPGE MPSI level, online)</li>
        </ul>
    </li>

    <li>2022 &ndash; 2023 (Université de Montpellier)
        <ul>
            <li>Tutorials &ndash; Analysis I: Functions of one variable and sequences (first-year undergraduate)</li>
            <li>Tutorials &ndash; Calculus (first-year undergraduate)</li>
            <li>Lab sessions &ndash; Numerical analysis of ODEs and PDEs (undergraduate)</li>
        </ul>
    </li>
</ul>

<p>
June 2021 &ndash; Passed the French national competitive exam for Mathematics teachers ("Agrégation").
</p>

