---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

<ul>
    <li>2023 – 2024 (Université de Montpellier)
        <ul>
            <li>Tutorials Logic and set theory (first-year undergraduate)</li>
            <li>Analysis I – Functions of one variable and sequences (first-year undergraduate)</li>
            <li>Calculus (first-year undergraduate)</li>
            <li>Private tutoring (CPGE MPSI level)</li>
        </ul>
    </li>

    <li>2022 – 2023 (Université de Montpellier)
        <ul>
            <li>Analysis I – Functions of one variable and sequences (first-year undergraduate)</li>
            <li>Calculus (first-year undergraduate)</li>
            <li>Numerical analysis of ODEs and PDEs (undergraduate)</li>
        </ul>
    </li>
</ul>

<p>
June 2021 – Passed the French national competitive exam for Mathematics teachers ("Agrégation").
</p>

