---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

<ul>
    <li>2023 - 2024 :
        <ul>
            <li>Logic & set theory</li>
            <li>Analysis I - Functions of one variable and sequences</li>
            <li>Calculus</li>
            <li>Private lessons for MPSI student</li>
        </ul>
    </li>
    <li>2022 - 2023 :
        <ul>
            <li>Analysis I - Functions of one variable and sequences</li>
            <li>Calculus</li>
            <li>Numerical analysis of ODEs and PDEs</li>
        </ul>
    </li>
    <li>June 2021 :
        <ul>
            <li>
              Passed the French national competitve exam for Mathematics teachers ("Agrégation")
            </li>
        </ul>
    </li>
</ul>

